shiny
shinydashboard
stringr
tidyverse
lubridate
hms
scales
highcharter
ggplot2
plotly
xts
readxl
knitr
DT
rpivotTable
openintro
tidyr
tm
SnowballC
wordcloud
wordcloud2
RColorBrewer
RCurl
XML
rlang
syuzhet
janitor
shinycssloaders